In [16]:
import pandas as pd

In [17]:
offensive_csv = pd.read_csv('../2024_offensive_advanced_metrics.csv')
aggregated_data = pd.read_csv('data/matchups_2024_agg.csv')

In [18]:
mapping_player_rating = offensive_csv[['PLAYER', 'OFFRTG']]
mapping_player_rating

                       PLAYER  OFFRTG
0            Payton Pritchard   122.8
1           Tyrese Haliburton   122.4
2                Nikola Jokić   122.4
3               Derrick White   122.4
4    Kentavious Caldwell-Pope   122.4
..                        ...     ...
333              Kobi Simmons    94.2
334            Malik Williams    93.2
335               Timmy Allen    92.6
336                Jack White    89.1
337            Wenyen Gabriel    89.0

[338 rows x 2 columns]

In [19]:
aggregated_data['PLAYER'] = aggregated_data['first_name'].str.strip() + ' ' + aggregated_data['family_name'].str.strip()
merged_data = aggregated_data.merge(mapping_player_rating, on='PLAYER', how='left')
merged_data

,away_team_id,home_team_id,team_id,team_name,team_city,team_tricode,team_slug,person_id,first_name,family_name,...,matchup_three_pointers_percentage,help_blocks,help_field_goals_made,help_field_goals_attempted,help_field_goals_percentage,matchup_free_throws_made,matchup_free_throws_attempted,shooting_fouls,PLAYER,OFFRTG
0,1610612747,1610612759,1610612747,Lakers,Los Angeles,LAL,lakers,2544,LeBron,James,...,0.0,0,0,0,0,1,2,1,LeBron James,117.4
1,1610612755,1610612747,1610612747,Lakers,Los Angeles,LAL,lakers,2544,LeBron,James,...,0.0,0,0,0,0,0,0,0,LeBron James,117.4
2,1610612747,1610612756,1610612747,Lakers,Los Angeles,LAL,lakers,2544,LeBron,James,...,1.0,0,0,0,0,1,2,0,LeBron James,117.4
3,1610612738,1610612747,1610612747,Lakers,Los Angeles,LAL,lakers,2544,LeBron,James,...,0.0,0,0,0,0,2,2,1,LeBron James,117.4
4,1610612750,1610612747,1610612747,Lakers,Los Angeles,LAL,lakers,2544,LeBron,James,...,0.0,0,0,0,0,0,0,0,LeBron James,117.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141248,1610612763,1610612760,1610612763,Grizzlies,Memphis,MEM,grizzlies,1642530,Yuki,Kawamura,...,1.0,0,0,0,0,0,0,0,Yuki Kawamura,NaN
141249,1610612747,1610612763,1610612763,Grizzlies,Memphis,MEM,grizzlies,1642530,Yuki,Kawamura,...,0.0,0,0,0,0,2,2,0,Yuki Kawamura,NaN
141250,1610612763,1610612761,1610612763,Grizzlies,Memphis,MEM,grizzlies,1642530,Yuki,Kawamura,...,0.0,0,0,0,0,0,0,0,Yuki Kawamura,NaN
141251,1610612763,1610612760,1610612763,Grizzlies,Memphis,MEM,grizzlies,1642530,Yuki,Kawamura,...,0.0,0,0,0,0,0,0,0,Yuki Kawamura,NaN
141252,1610612754,1610612763,1610612763,Grizzlies,Memphis,MEM,grizzlies,1642530,Yuki,Kawamura,...,0.0,0,0,0,0,0,0,0,Yuki Kawamura,NaN

In [20]:
merged_data.to_csv('matchups_2024_agg_updated.csv', index=False)